.navWrap {
  height: 60px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  border-bottom: 1px solid #c1c1c1;
  position: fixed;
  width: 100%;
  top: 63px;
  left: 0;
  right: 0;
  z-index: 1002;
  background-color: #fff;
}
.center {
  font-size: 17px;
  font-weight: bold;
  color: #000000;
}
.left,
.right {
  width: 50px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
