.signauth {
  padding: 20px;
}
.btns {
  margin-top: 30px;
  > div {
    margin-bottom: 10px;
  }
}
.item {
  margin-bottom: 20px;
}
.t1 {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #020811;
  text-align: left;
}
.t2 {
  text-align: left;
  font-size: 13px;
  font-weight: 400;
  color: rgba(131, 131, 131, 1);
  line-height: 18px;
  word-break: break-all;
}
